#!/usr/bin/perl -w

my $config
    = {
       files => [
		 './genesis3/sspy/__cbi__.py',
		 './configure.ac',
		 './tests.config',
		 './tests/specifications/version.t',
		 './doxygen.cfg',
		],
       labels => {
		  email => 'hugo.cornelis@gmail.com',
		  label => 'alpha',
		  major => '0',
		  micro => '0',
		  minor => '0',
		  monotone_id => `mtn automate get_current_revision_id | perl -pe 's/\n//g'`,
		  package => 'sspy',
		 },
      };

return $config;

